/* @keyframes bgcolor {
  0% {
      background-color: lightblue
  }

  30% {
      background-color: lightgreen
  }

  60% {
      background-color: lightcoral
  }

  90% {
      background-color: lightgoldenrodyellow
  }

  100% {
      background-color: lightgrey
  }
}

body {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
} */
body{
    background-image: url('photo/20190831_181828_HDR.JPG');
    margin: 0;
    padding: 0;
  }

  
      /* {navbar css} */
  
      li {
        display: inline-flex;
      }
      li {
        float: right;
      }
  
      .navbar-brand {
        margin-top: 6px;
      }
  
      li a {
        display: inline-flex;
        color: rgba(194, 255, 231, 0.829);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
  
      a {
        display: inline-flex;
        padding: 8px;
        float: left;
        color: rgba(166, 248, 215, 0.973);
        font-size: 20.2px;
        font-family: Satisfy;
      }
  
  
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-image: linear-gradient(rgba(128, 128, 128, 0.747), lightblue);
      }
  
      li a:hover {
        background-color: rgba(255, 255, 255, 0.322);
      }
  
      .active {
        background-color: rgba(173, 216, 230, 0.466);
      }
  
      /* {navbar css ends} */
      
      /* {socailmedia icons css starts} */
  
      .socialmediaicons {
        font-size: 45px;
      } 
  
      i:hover {
        color: rgba(134, 156, 170, 0.87);
      }
  
      .black {
        color: rgba(0, 0, 0, 0.795);
      }
  
      /* {socailmedia icons css ends} */
  
      /*{grid css starts} */
  
      #grid {
        width: 95vw;
        height: 80vh;
  
        display: grid;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
  
      /*{grid css ends} */
  
      /* {container 1 css starts} */
  
      h1 
      {
        font-family: "Helvetica", Sans-Serif;
        font-size: 60px;
        margin-left: 20px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.815);
      }
  
      h2 {
        font-size: 15px;
        font-family: "Helvetica", Sans-Serif;
        color: rgba(0, 0, 0, 0.795);
  
        margin-left: 20px;
        margin-bottom: 60px;
  
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
      }
  
      #section1 {
        background-color: lightblue;
  
        height: 380px;
        width: 735px; 
        
        margin-top: 40px;
  
        justify-content: center;
  
        border-radius: 10px;
      }
  
      
      p1 {
      
        font-family: "Helvetica", Sans-Serif;
        color: rgba(0, 0, 0, 0.795);;
        
        /* display: flex; */
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
  
        /* margin-left: 20px; */
        font-size: 20px;
        margin-right: 10px;
      } 
  
    /* {container 1 css ends} */
  
      /* {fonts for htmls starts} */
  
     
    /* {fonts for htmls ends} */
      
      /* {extra color if needed css start} */
      .facebook {
        color:#3b5998; 
      }
  
      .insta {
        color: #bc2a8d;
      }
  
      .twitter {
        color: #00aced;
      }
  
      .gmail {
        color:	#ea4335;
      }
       /* {extra color if needed css end} */
       .dropdown-content {
        display: none;
        overflow: hidden;
        transition: height 0.3s ease;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
        height: auto;
      }